body{
  background-color: #12455F;
  color: #eaeaea;
}

button{
  color: black;
}
img {
  max-width: 600px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  opacity: .8;
  /*box-shadow: inset 20px 20px 20px #eaeaea,
              inset -20px -20px 20px #eaeaea;*/
}

img:hover{
  opacity: 1;

}

.inline{
  display: inline;
}

.page-header{
  padding-bottom: 30px;
}

.container{
  margin-top: 50px;
}
