body{
  background-color: #12455F;
  color: #eaeaea;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 170%;
}


h1, h2, h3, h4{
  font-family: 'Didact Gothic', sans-serif;
}

ul{
  list-style: none;
}

button{
  color: black;
}
img {
  max-width: 600px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #eaeaea;
  opacity: .8;
  /*box-shadow: inset 20px 20px 20px #eaeaea,
              inset -20px -20px 20px #eaeaea;*/
}

img:hover{
  opacity: 1;

}

.inline{
  display: inline;
}

.page-header{
  padding-bottom: 50px;
}

.container{
  margin-top: 50px;
}

.commentBox{
  /*border-left: 2px solid #eaeaea;*/
  /*border-bottom: 2px solid #eaeaea;*/
  padding: 20px;
  margin: 20px;
  height: 350px;
}
